* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-purple-fill: #6264a7;
  --light-purple-fill: #e9eaf6;
  --light-text: #f5f5f5;
  --dark-text: #616161;
  --standard-black: #000000;
}

.container {
  width: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  overflow: hidden;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  margin-left: 5vw;
}
#ms-teams-logo {
  width: 160px;
}

#login-btn {
  background-color: var(--dark-purple-fill);
  color: var(--light-text);
  height: 43.1686px;
  width: 180px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17.6px;
  line-height: 23.2px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
}
#signup-btn {
  background-color: var(--light-purple-fill);
  color: var(--dark-text);
  width: 121.6px;
  height: 43.1686px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17.6px;
  line-height: 23.2px;
  text-align: center;
  border-radius: 10px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin-left: 5vw;
}
.main-heading {
  color: var(--dark-purple-fill);
  position: absolute;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 35.2px;
  line-height: 47.2px;
  margin-top: 4%;
  text-align: center;
}
.main-tagline {
  color: var(--standard-black);
  position: absolute;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17.6px;
  line-height: 23.2px;
  text-align: center;
  margin-top: 9%;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
#cta-btns {
  display: flex;
  margin-left: 5vw;
  width: 90vw;
  justify-content: center;
  flex-direction: row;
  margin-top: 13vh;
}
#start-meeting {
  background-color: var(--dark-purple-fill);
  color: var(--light-text);
  height: 43.1686px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17.6px;
  line-height: 23.2px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;
}
#watch-demo {
  background-color: var(--light-purple-fill);
  color: var(--dark-text);
  height: 43.1686px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17.6px;
  line-height: 23.2px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

#base-rectangle {
  z-index: -3;
  position: absolute;
  width: 884px;
  height: 538px;
  left: 326px; /*Original is 296px*/
  top: 220px; /*Original is 412 px*/
}
#bug-review-box {
  z-index: 2;
  position: absolute;
  width: 210px;
  height: 55px;
  left: 212px;
  top: 560px;
}
#circular-image-bottom-left {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 64px;
  top: 560px;
}

#circular-image-top-right {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 1279px;
  top: 257px;
}
#corner-ellipses-bottom-left {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 395px;
  top: 763px;
}
#corner-ellipses-top-right {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 1118px;
  top: 165px;
}

#incoming-call-box {
  position: absolute;
  width: 145px;
  height: 188px;
  left: 1164px;
  top: 406px;
}
#left-small-triangle {
  position: absolute;
  width: 30px;
  height: 31.4px;
  left: 252.26px;
  top: 487.41px;
}
#meeting-poll-box {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 985px;
  top: 257px;
}
#message-box-1 {
  position: absolute;
  width: 140px;
  height: 30px;
  left: 985px;
  top: 397px;
}
#message-box-2 {
  position: absolute;
  width: 141px;
  height: 30px;
  left: 985px;
  top: 464px;
}
#message-box-3 {
  position: absolute;
  width: 141px;
  height: 30px;
  left: 985px;
  top: 531px;
}
#message-box-4 {
  position: absolute;
  width: 140px;
  height: 30px;
  left: 985px;
  top: 597px;
}
#ongoing-video-call {
  position: absolute;
  width: 587px;
  height: 433px;
  left: 362px;
  top: 248px;
}
#right-small-triangle {
  position: absolute;
  width: 30px;
  height: 31.4px;
  left: 1312.72px;
  top: 443px;
}
#scrum-meeting-box {
  position: absolute;
  width: 178px;
  height: 186px;
  left: 192px;
  top: 277px;
}
#write-message-box {
  position: absolute;
  width: 248px;
  height: 42px;
  left: 981px;
  top: 663px;
}

