*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
    
}

:root {
    --dark-purple-fill: #6264a7;
    --light-purple-fill: #e9eaf6;
    --light-text: #f5f5f5;
    --dark-text: #616161;
    --standard-black: #000000;
    --red-foreground: #c4314b; /*important and error messages*/
  }

.dj{
    display: flex;
    justify-content: center;
}
.a{
    align-items: center;
}
.active{
    display: none !important;
}


.page{
    width: 100vw;
    height: 100vh;
    background: var(--light-purple-fill);
    padding-left: 7.5vw;
    padding-top: 10vh; 
}

.container{
    width: 85vw;
    height: 80vh;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    position: relative;      
}

.container img{
    height: 100%;
    background-size:cover;
    border-radius: 10px;
}

.details{
    overflow: auto;
    position: absolute;
    height: calc(100% - 30px);
    width: 35%;
    top: calc(15px);
    right: 15px;
    border-radius: 0px 10px 10px 0px;
    backdrop-filter: blur(7px);
    padding: 6% 4%;
    box-shadow: -10px 0 20px -20px #888;
    
}

.option{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.registerbtn{
    height: 35px;
    width: 80px;
    border-radius:20px ;
    color: white;
    background-color:var(--dark-purple-fill);
    font-size: small;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;

}

.loginbtn{
    height: 35px;
    width: 80px;
    border-radius:20px ;
    color: gray;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;

}

.heading h1{
    font-weight: 700;
    font-size: 6vh;
    margin-bottom: 5px;
}

.heading h3{
    font-size: 12px;
    font-weight: 600;
    color: gray;
    margin-bottom: 30px;
}
label{
    font-size: medium;
    font-weight: 600;
    color: rgba(75, 72, 72, 0.692);
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.692);
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 15px;
    font-size: large;
    font-weight: 600;
    color: rgb(75, 72, 72);
    padding: 10px;

}
input:focus{
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
}
.submitbtn{
    height: 45px;
    width: 100px;
    border-radius:30px ;
    color: white;
    background-color:var(--dark-purple-fill);
    font-size: medium;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: 15px;
    cursor: pointer;
}

#eidImg{
    border: none;
    font-size: medium;
    padding-left: 0PX;
}

.message{
    font-size: medium;
    font-weight: 600;
    color: var(--red-foreground);
}
.block{
    display: block !important;
}
.confirmpage{
    position: absolute;
    z-index: 3;
    top: 0px;
    width: 98.9vw;
    min-height:100vh;
    height: fit-content;
    background-color: #ffffff75;
    padding: 100px 0px;
    backdrop-filter: blur(10px);
    display: none;

}

.cwrap{
    margin: auto;
    width: 75%;
    background-color: rgba(255, 255, 255, .8);
    min-height: fit-content;
    padding-left: 2%;
}

.cwrap .heading{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 120px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}
.cname,.cemail,.cph,.corg,.ceid{
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
}
.head{
    font-size: x-large;
    font-weight: 600;
    margin-right: 50px;
}
.value{
    font-size: large;
    font-weight: 600;
    margin-right: 50px;
}
.pic img{
    height: 150px;
    width: 300px;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;

}
.btns{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}
.confirm, .edit{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
    border-radius: 25px;
    margin-right: 60px;
    background-color:var(--dark-purple-fill);
    cursor: pointer;

}
